.vmsDelay {
  width: 90%;
  margin: 4% auto;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
}
.vmsDelay h2,
p {
  direction: rtl;
  text-align: center;
}
.vmsDelay h2 {
  font-size: 20px;
  color: rgb(230, 0, 150);
}
.vmsDelay button {
  background: rgb(230, 0, 150);
  border: none;
  color: #eeeeee;
  height: 35px;
  position: relative;
  top: -35px;
  left: 215px;
  border-radius: 5px;
  transition: 0.5s;
}
.vmsDelay button:hover {
  background: rgb(180, 0, 80);
  cursor: pointer;
  transition: 0.5s;
}
.vmsDelay p {
  width: 57%;
  padding: 5px;
  margin: 0 auto;
  font-size: 16px;
  background: #eeeeee;
  color: #222831;
  border-radius: 5px;
  position: relative;
  left: 40px;
}
.vmsDelay input {
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  border: 1px dashed rgb(230, 0, 150);
  background: rgba(230, 0, 150, 0.1);
  color: #222831;
  font-size: 11px;
  width: 17%;
  text-align: center;
}
