body {
  margin-top: 50px;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  direction: rtl;
  text-align: center;
}
h1 {
  color: rgb(230, 0, 150);
}
p {
  color: #eeeeee;
}
