body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.draftList {
  width: 95%;
  margin: 20px auto;
}

.draftList button {
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  background: #eeeeee;
  border: none;
  color: #222831;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 10px;
  margin-right: 10px;
}
.draftList button:hover {
  background: #e60096;
  color: #eeeeee;
  transition: 0.5s;
}
.reqDrafts {
  width: 100%;
  font-size: 15px;
}
.reqDrafts h2 {
  display: inline-block;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  color: #eeeeee;
  margin-right: 25px;
  font-size: 15px;
}
.reqDrafts button {
  width: 265px;
}
.ackDrafts h2 {
  display: inline-block;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  color: #eeeeee;
  margin-right: 86px;
  font-size: 15px;
}
.ackDrafts button {
  width: 265px;
}
.atDrafts h2 {
  display: inline-block;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  color: #eeeeee;
  margin-right: 56px;
  font-size: 15px;
}
.atDrafts button {
  width: 265px;
}
.pickDrafts h2 {
  display: inline-block;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  color: #eeeeee;
  margin-right: 57px;
  font-size: 15px;
}
.pickDrafts button {
  width: 265px;
}
.delDrafts h2 {
  display: inline-block;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  color: #eeeeee;
  margin-right: 43px;
  font-size: 15px;
}
.delDrafts button {
  width: 265px;
}
.venDrafts1 h2 {
  display: inline-block;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  color: #eeeeee;
  margin-right: 40px;
  font-size: 15px;
}
.venDrafts1 button {
  width: 265px;
}
.venDrafts2 h2 {
  display: inline-block;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  color: #eeeeee;
  margin-right: 36px;
  font-size: 15px;
}
.venDrafts2 button {
  width: 265px;
}
.rejDrafts h2 {
  display: inline-block;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  color: #eeeeee;
  margin-right: 68px;
  font-size: 15px;
}
.rejDrafts button {
  width: 265px;
}
