body {
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
}

.title {
  color: rgb(230, 0, 150);
  text-align: center;
  font-weight: 600;
  margin: 0;
}

.drafts {
  text-align: center;
  margin-top: 0;
}
.drafts p {
  margin: 7px 2px;
  display: inline-block;
  position: relative;
  background: #eeeeee;
  color: #222831;
  width: 45%;
  border-radius: 5px;
}
.drafts button {
  position: relative;
  border: none;
  background: rgb(230, 0, 150);
  color: #eeeeee;
  border-radius: 5px;
  height: 24px;
  left: 2px;
  top: 0;
  transition: 0.3s;
}
.drafts button:hover {
  background: rgb(180, 0, 80);
  cursor: pointer;
  transition: 0.3s;
}
input {
  font-family: "Montserrat Alternates", "Vazirmatn", sans-serif;
  font-weight: 300;
  text-align: center;
  width: 50%;
  height: 30px;
  position: relative;
  left: -300px;
  top: 10px;
  border: 1px dashed rgb(230, 0, 150);
  background: rgba(230, 0, 150, 0.1);
  color: #eeeeee;
}
.inputp {
  margin: 0;
  color: #eeeeee;
  position: relative;
  text-align: center;
  font-size: 15px;
  top: 5px;
}
